<section id="hero" class="flex lg:flex-col flex-row items-center">
    <div class="container flex flex-col-reverse lg:flex-row items-center space-y-0 lg:space-y-0">
        <div
            class="animate-fade-up lg:animate-fade-right animate-once animate-ease-in-out lg:animate-delay-300 animate-delay-100 flex flex-col items-center lg:items-start space-y-8 lg:w-1/2">
            <!-- @todo: fix font sizes for different screens  -->
            <p class=" text-gray-100 font-inter text-1xl font-light text-center lg:text-left xl:text-3xl">Hi, I'm </p>
            <h1
                class="text-6xl tracking-wider text-gray-100 font-inter font-bold text-center xl:text-9xl  lg:text-left">
                Amith</h1>
            <p class="container text-gray-300 font-inter font-bold text-2xl text-center lg:text-left xl:text-6xl ">
                I make things happen.</p>

            <p class="container text-gray-400 font-inter text-1xl font-medium text-center lg:text-left xl:text-lg ">
                Currently working on a
                cybersecurity Suite called Chronicle.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</section>