<section id="hero" class="flex lg:flex-col flex-row items-start">
    <div class="container flex flex-col-reverse lg:flex-row items-center">
        <div
            class="animate-fade-up lg:animate-fade-right animate-once animate-ease-in-out lg:animate-delay-300 animate-delay-100 flex flex-col items-center lg:items-start space-y-8">
            <!-- @todo: fix font sizes for different screens  -->
            <p class=" text-gray-400 font-inter text-1xl font-medium text-center lg:text-left xl:text-lg">Hi, my name is
            </p>
            <h1
                class="text-6xl tracking-wider text-gray-100 font-inter font-bold text-center xl:text-9xl  lg:text-left">
                Amith Patil</h1>
            <p class="container text-gray-400 font-inter font-bold text-2xl text-center lg:text-left xl:text-6xl ">
                I make things happen.</p>

            <p
                class="container text-gray-400 font-inter text-1xl font-medium text-center xl:w-1/2 lg:text-left xl:text-lg ">
                I am a solutions engineer who dabbles in building ( and sometimes designing ) digital applications. I
                currently work as a Solutions Engineer at <a href="https://chronicle.security" target="_blank"
                    class="font-inter text-lg font-bold text-red-600">Google.</a>
            </p>
        </div>
    </div>
</section>