<section id="hero" class="flex lg:flex-col flex-row items-center">
    <div class="container flex flex-col-reverse lg:flex-row items-center space-y-0 lg:space-y-0">
        <div
            class="animate-fade-up lg:animate-fade-right animate-once animate-ease-in-out lg:animate-delay-300 animate-delay-700 flex flex-col items-center lg:items-start space-y-8 lg:w-1/2">
            <!-- @todo: fix font sizes for different screens  -->
            <h1 class="text-6xl tracking-wider text-black font-montserrat text-center xl:text-9xl  lg:text-left">
                Hi, I'm Amith!</h1>
            <p class="container text-black font-montserrat font-light text-2xl text-center lg:text-left xl:text-5xl ">
                A Solutions Engineer at</p>
            <img class="w-20 xl:w-40" src="assets/img/google_logo.png" alt="">
            <p class="container text-black font-montserrat text-1xl font-light text-center lg:text-left xl:text-lg ">
                Currently working on a
                cybersecurity Suite called Chronicle.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>

</section>