<section class="relative w-screen flex flex-col lg:flex-row justify-between">
    <div class="flex flex-col lg:mx-40 my-12 items-center lg:items-stretch w-screen">
        <div class="flex w-full lg:w-2/5 h-20 bg-teal-500 lg:rounded-2xl items-center justify-center">
            <h1 class="text-white font-montserrat font-bold text-3xl lg:text-5xl">Resume</h1>
        </div>
        <div class="flex flex-col lg:flex-row items-center">
            <div class="hidden lg:flex basis-1/6 justify-end">
                <h3 class="text-teal-500 text-lg font-montserrat font-medium">2016 - 2018</h3>
            </div>
            <div
                class="hidden lg:flex h-full items-center w-1 mx-12  bg-teal-500 rounded-t-full basis-1 justify-center">
                <i class="text-teal-500 text-2xl fa-regular fa-circle-dot mx-40 "></i>
            </div>

            <div
                class="animate-fade-up lg:animate-fade-right animate-once animate-delay-300 flex flex-col rounded-2xl backdrop-blur-sm  lg:w-1/2 lg:m-12 m-12">
                <div class="backdrop-blur-sm bg-white/50 shadow-lg rounded-2xl">
                    <div class="flex flex-col p-12">
                        <div class="flex items-center justify-start ">
                            <div class="flex basis-11/12">
                                <img class="h-8 lg:h-12 py-2 " src="assets/img/Dell_EMC_logo.png" alt="">
                            </div>
                            <div class="flex basis-2/12">
                                <img class="h=8 lg:h-12 m-2 " src="assets/img/Isilon_logo.png" alt="">
                            </div>
                        </div>
                        <h3 class="lg:hidden text-gray-500 text-lg font-montserrat font-medium">2016 - 2018</h3>
                        <h2 class="text-gray-500 text-2xl font-montserrat font-bold">Technical Support Engineer (GSAP
                            Associate)
                        </h2>
                        <ul class="text-gray-500 lg:text-md list-disc list-outside font-montserrat">
                            <li>Cluster networking, setting up DNS records and Isilon
                                SmartConnect configurations, Microsoft Active Directory
                                Management.</li>
                            <li>working with Field engineers remotely during on-site
                                troubleshooting</li>
                            <li>Cluster networking, setting up DNS records and Isilon
                                SmartConnect configurations, Microsoft Active Directory
                                Management.</li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
        <div class="flex flex-col lg:flex-row items-center">
            <div class="hidden lg:flex basis-1/6 justify-end">
                <h3 class="text-teal-500 text-lg font-montserrat font-medium">2018 - 2021</h3>
            </div>
            <div class="hidden lg:flex basis-1 justify-center h-full items-center w-1 mx-12  bg-teal-500">
                <i class="text-teal-500 text-2xl fa-regular fa-circle-dot mx-28"></i>
            </div>

            <div
                class="animate-fade-left animate-once animate-delay-500 flex flex-col  rounded-2xl backdrop-blur-sm shadow-lg  lg:m-12 m-12 lg:w-1/2">
                <div class="backdrop-blur-sm bg-white/50 rounded-2xl">
                    <div class="flex flex-col p-12">
                        <div class="flex items-center justify-start ">
                            <div class="flex basis-11/12">
                                <img class="h-8 lg:h-12 py-2 " src="assets/img/Dell_EMC_logo.png" alt="">
                            </div>
                            <div class="flex basis-2/12">
                                <img class="h-8 lg:h-12 m-2 " src="assets/img/Isilon_logo.png" alt="">
                            </div>
                        </div>
                        <h3 class="lg:hidden text-gray-500 text-lg font-montserrat font-medium">2016 - 2018</h3>
                        <h2 class="text-gray-500 text-2xl font-montserrat font-bold">Senior Technical Support Engineer
                        </h2>
                        <ul class="text-gray-500 text-1xl list-disc list-outside font-montserrat ">
                            <li>Level 2 engineer for the EMEA region for the administration
                                related skills (Upgrades, HTTP, ICAP, SMTP, SNMP, Restful APIs,
                                InsightIQ) with my secondary skill being Networking</li>
                            <li>Interacting with In-Market Engineering while handling
                                escalations and resolving code bugs.</li>
                            <li>Providing Shell scripts, Python codes to Customers/TSEs for
                                initial troubleshooting. </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex flex-col lg:flex-row items-center ">
            <div class="hidden lg:flex basis-1/6 justify-end">
                <h3 class="text-teal-500 text-lg font-montserrat font-medium">2021 - present </h3>
            </div>
            <div class="hidden lg:flex basis-1 justify-center h-full items-center w-1 mx-12 rounded-b-full bg-teal-500">
                <i class="text-teal-500 text-2xl fa-regular fa-circle-dot mx-40"></i>
            </div>

            <div
                class="animate-fade-right animate-once animate-delay-700 flex flex-col rounded-2xl backdrop-blur-sm shadow-lg lg:m-12 m-12 lg:w-1/2">
                <div class="backdrop-blur-sm bg-white/50 rounded-2xl">
                    <div class="flex flex-col p-12">
                        <div class="flex items-center ">
                            <div class="basis-10/12 flex ">
                                <img class="h-8 lg:h-12 " src="assets/img/google_logo.png" alt="">
                            </div>
                            <div class="flex basis-2/12 justify-end">
                                <img class="h-6 lg:h-10 m-2 " src="assets/img/google_cloud_logo.png" alt="">
                            </div>
                            <div class="flex basis-2/12 justify-end">
                                <img class="h-6 lg:h-10 m-2 " src="assets/img/chronicle_logo.png" alt="">
                            </div>
                        </div>
                        <h3 class="lg:hidden text-gray-500 text-lg font-montserrat font-medium">2021 - Current</h3>
                        <h2 class="text-gray-500 text-2xl font-montserrat font-bold">Solutions Engineer (Google Cloud)
                        </h2>
                        <ul class="text-gray-500 text-1xl list-disc list-outside font-montserrat ">
                            <li>Level 2 engineer for the EMEA region for the administration
                                related skills (Upgrades, HTTP, ICAP, SMTP, SNMP, Restful APIs,
                                InsightIQ) with my secondary skill being Networking</li>
                            <li>Work escalations from L1 towards resolution and preparing to be
                                worked by Engineering.</li>
                            <li>Interacting with In-Market Engineering while handling
                                escalations and resolving code bugs.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>