<div class="container  flex flex-col lg:flex lg:flex-row items-center flex-1 ">
    <ul class="text-3xl items-center flex flex-row lg:flex-col ">
        <li
            class="text-white p-4 items-center justify-around animate-fade-up lg:animate-fade-left animate-once animate-ease-in-out lg:animate-delay-100 animate-delay-100">
            <a href="https://www.twitter.com" target="_blank"><i
                    class="fab fa-twitter transition ease-in-out delay-150 hover:-translate-x-2 hover:scale-110 duration-300"></i></a>
        </li>
        <li
            class="text-white p-4 items-center justify-around animate-fade-up lg:animate-fade-left animate-once animate-ease-in-out lg:animate-delay-300 animate-delay-300">
            <a href="https://www.github.com" target="_blank"><i
                    class="fab fa-github transition ease-in-out delay-150 hover:-translate-x-2 hover:scale-110 duration-300"></i></a>
        </li>
        <li
            class="text-white p-4 items-center justify-around animate-fade-up lg:animate-fade-left animate-once animate-ease-in-out lg:animate-delay-500 animate-delay-500">
            <a href="https://www.youtube.com" target="_blank"><i
                    class="fab fa-youtube transition ease-in-out delay-150 hover:-translate-x-2 hover:scale-110 duration-300"></i></a>
        </li>
        <li
            class="text-white p-4 items-center justify-around animate-fade-up lg:animate-fade-left animate-once animate-ease-in-out lg:animate-delay-700 animate-delay-700">
            <a href="https://www.instagram.com" target="_blank"><i
                    class="fab fa-instagram transition ease-in-out delay-150 hover:-translate-x-2 hover:scale-110 duration-300"></i></a>
        </li>
        <li
            class="text-white p-4 items-center justify-around animate-fade-up lg:animate-fade-left animate-once animate-ease-in-out lg:animate-delay-1000 animate-delay-1000">
            <a href="https://www.linkedin.com" target="_blank"><i
                    class="fab fa-linkedin transition ease-in-out delay-150 hover:-translate-x-2 hover:scale-110 duration-300"></i></a>
        </li>
    </ul>
</div>