<div *ngFor="let page of Pages" [attr.id]="page.section_name" class="bg-slate-800">
    <section *ngIf="page.section_name == 'home'">
        <app-home-hero> </app-home-hero>
    </section>

    <section *ngIf=" page.section_name=='about'" [attr.id]=" page.section_name">
        <div class="xl:h-screen w-screen">
            <app-home-about></app-home-about>
        </div>
    </section>
    <section *ngIf="page.section_name == 'career'" [attr.id]="page.section_name">
        <app-home-career></app-home-career>
    </section>
    <section *ngIf="page.section_name == 'contact'" [attr.id]="page.section_name">
        <div class="h-screen w-screen"></div>
    </section>
</div>