<a href="#home" [@inOutAnimation] class="lg:flex" *ngIf="offsetFlag">
    <div
        class="transition ease-in-out delay-150 duration-300 fixed flex bottom-0 right-0 w-8 h-8 xl:w-12 xl:h-12 bg-yellow-400 dark:bg-red-700 items-center justify-center rounded-l-md mb-16 shadow-2xl">
        <ul class="xl:text-2xl text-sm">
            <li
                class="transition ease-in-out delay-150 duration-300 text-gray-800 dark:text-gray-300 p-4 items-center justify-around">
                <i class="fa-solid fa-arrow-up"></i>
            </li>
        </ul>
    </div>
</a>



<div *ngFor="let page of Pages" [attr.id]="page.section_name"
    class="transition ease-in-out duration-300 dark:bg-gradient-to-bl dark:from-slate-900  dark:to-slate-800  bg-gradient-to-bl from-slate-400 to-slate-100">
    <section *ngIf="page.section_name == 'home'">
        <app-home-hero> </app-home-hero>
    </section>

    <section *ngIf=" page.section_name=='about'" [attr.id]=" page.section_name">
        <div class="xl:h-screen w-screen">
            <app-home-about></app-home-about>
        </div>
    </section>
    <section *ngIf="page.section_name == 'career'" [attr.id]="page.section_name">
        <app-home-career></app-home-career>
    </section>
    <section *ngIf="page.section_name == 'contact'" [attr.id]="page.section_name">
        <app-home-contact></app-home-contact>
    </section>
</div>
<app-footer></app-footer>