<div class=" flex flex-col items-center xl:px-40 px-12 pb-12 bg-slate-800 ">
    <h1 class="font-inter text-gray-100 text-5xl xl:text-9xl font-bold py-12 xl:text-start text-center w-full">
        Contact.
    </h1>
    <div
        class="container flex flex-col items-center space-y-8 bg-slate-900 bg-[url('./app/images/bg.png')] bg-contain xl:bg-cover z-20 rounded-md xl:m-12 shadow-lg py-12 xl:p-40">
        <h1 class="font-inter text-gray-400 xl:text-5xl text-3xl font-bold text-center">Get In Touch
        </h1>
        <p class="font-inter text-gray-400  text-sm xl:text-lg font-medium text-center  w-1/2">
            Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a
            question or just want to say hi, I’ll try my best to get back to you!
        </p>
        <div class="flex "><a href="mailto:amithpatil1993@gmail.com"
                class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 p-3 px-6 text-white bg-red-700 rounded-md shadow-xl font-montserrat font-medium text-lg">Say
                Hello</a>
        </div>
    </div>
</div>