<nav class="p-6 items-center flex flex-col lg:block">
    <div class="flex justify-between items-center">
        <app-logo class="animate-fade-down animate-delay-100 animate-ease-in-out p-2"></app-logo>
        <div class="hidden lg:flex space-x-16 items-center animate-fade-down animate-delay-300 animate-ease-in-out">
            <div class="animate-fade-down animate-delay-300">
                <a href="#home"
                    class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 font-montserrat font-medium text-2xl text-white">HOME</a>
            </div>

            <div class="animate-fade-down animate-delay-500"><a href="#resume"
                    class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 font-montserrat font-medium text-2xl text-white">RESUME</a>
            </div>
            <div class="animate-fade-down animate-delay-700"><a href="#about"
                    class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 font-montserrat font-medium text-2xl text-white">ABOUT</a>
            </div>
            <div class="animate-fade-down animate-delay-1000"><a href="#contact"
                    class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 p-3 px-6 text-black bg-white rounded-lg font-montserrat font-medium text-2xl">CONTACT</a>
            </div>
        </div>
    </div>
</nav>