<nav class="py-4 xl:py-12 items-center xl:flex z-10 xl:flex-row fixed">
    <div
        class="hidden xl:flex items-center space-x-12 p-4 rounded-r-md bg-yellow-400 dark:bg-red-700 shadow-xl transition ease-in-out delay-150 duration-300 animate-fade-down animate-delay-100 animate-ease-in-out">
        <a href="#home"><app-logo
                class="invert dark:invert-0 flex-1/4 "></app-logo></a>
        <div appMousehover [@inOutAnimation]="offsetFlag" class=""><a href="#about"
                class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 font-montserrat font-medium text-lg text-gray-800 dark:text-white">about.</a>
        </div>
        <div appMousehover [@inOutAnimation]="offsetFlag" class="">
            <a href="#career"
                class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 font-montserrat font-medium text-lg text-gray-800 dark:text-white">career.</a>
        </div>
        <div appMousehover [@inOutAnimation]="offsetFlag" class="">
            <a href="#contact"
                class=" transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 font-montserrat font-medium text-lg text-gray-800 dark:text-white">contact.</a>
        </div>
    </div>
    <div (click)="onClick()"
        class="cursor-pointer animate-fade-down animate-delay-[1100ms] fixed flex t-0 right-0 w-8 h-8 xl:w-12 xl:h-12 bg-yellow-400 dark:bg-red-700 items-center justify-center rounded-l-md shadow-xl xl:ml-12 transition ease-in-out delay-150 duration-300">
        <ul class="xl:text-2xl text-sm">
            <li
                class="transition ease-in-out delay-150 duration-300 text-gray-800 dark:text-gray-300 p-4 items-center justify-around">
                <i class="icon fa-solid fa-sun"></i>
            </li>
        </ul>
    </div>
</nav>