<div class="flex flex-col h-fit space-y-8 bg-slate-950 items-center justify-around py-12">
        <app-logo></app-logo>
        <p class="font-inter font-light px-12 text-xs xl:text-xl text-gray-300 text-center">Designed Partly in <a
                        href="https://www.figma.com" class="font-inter font-bold text-white">Figma</a> and developed in
                <a href="https://www.figma.com" class="font-inter font-bold text-white">Angular</a> using <a
                        href="https://www.figma.com" class="font-inter font-bold text-white">Tailwind CSS</a>
        </p>
        <p class="font-inter font-extralight xl:text-lg text-xs text-gray-500 text-center">Copyright 2023 |
                amith-patil.github.io
                | All rights reserved.</p>
</div>