<div class="flex xl:flex-row flex-col  p-12 xl:mx-40 items-center justify-around">
    <div class="flex flex-col">
        <h1
            class="text-gray-300 font-inter xl:text-9xl  text-5xl mt-12 xl:px-40 font-bold animate-fade-up animate-delay-100 text-center xl:text-left">
            Career</h1>
        <section class="relative w-screen flex flex-col xl:flex-row justify-between">
            <div class="flex flex-col p-12 items-center xl:items-stretch ">

                <div class="flex flex-col xl:flex-row items-center">
                    <div class="hidden xl:flex xl:basis-1/6 justify-end">
                        <h3 class="text-cyan-500 text-lg font-montserrat font-medium">2016 - 2018</h3>
                    </div>
                    <div
                        class="hidden xl:flex h-full items-center w-1 mx-12  bg-white/30 rounded-t-full basis-1 justify-center">
                        <i class="text-cyan-500 text-2xl fa-regular fa-circle-dot mx-40 "></i>
                    </div>

                    <div
                        class="animate-fade-up xl:animate-fade-right animate-once animate-delay-300 flex flex-col rounded-2xl backdrop-blur-sm  xl:w-1/2 xl:my-12 my-12">
                        <div class="backdrop-blur-sm bg-white shadow-lg rounded-2xl">
                            <div class="flex flex-col p-12">
                                <div class="flex items-center justify-start ">
                                    <div class="flex basis-11/12">
                                        <img class="h-8 xl:h-12 py-2 " src="assets/img/Dell_EMC_logo.png" alt="">
                                    </div>
                                    <div class="flex basis-2/12">
                                        <img class="h=8 xl:h-12 m-2 " src="assets/img/Isilon_logo.png" alt="">
                                    </div>
                                </div>
                                <h3 class="xl:hidden text-gray-500 text-lg font-montserrat font-medium">2016 - 2018</h3>
                                <h2 class="text-gray-500 text-2xl font-montserrat font-bold">Technical Support Engineer
                                    (GSAP
                                    Associate)
                                </h2>
                                <ul class="text-gray-500 xl:text-md list-disc list-outside font-montserrat">
                                    <li>Cluster networking, setting up DNS records and Isilon
                                        SmartConnect configurations, Microsoft Active Directory
                                        Management.</li>
                                    <li>working with Field engineers remotely during on-site
                                        troubleshooting</li>
                                    <li>Cluster networking, setting up DNS records and Isilon
                                        SmartConnect configurations, Microsoft Active Directory
                                        Management.</li>
                                </ul>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="flex flex-col xl:flex-row items-center">
                    <div class="hidden xl:flex basis-1/6 justify-end">
                        <h3 class="text-cyan-500 text-lg font-montserrat font-medium">2018 - 2021</h3>
                    </div>
                    <div class="hidden xl:flex basis-1 justify-center h-full items-center w-1 mx-12  bg-white/30">
                        <i class="text-cyan-500 text-2xl fa-regular fa-circle-dot mx-28"></i>
                    </div>

                    <div
                        class="animate-fade-left animate-once animate-delay-500 flex flex-col  rounded-2xl backdrop-blur-sm shadow-lg  xl:my-12 my-12 xl:w-1/2">
                        <div class="backdrop-blur-sm bg-white rounded-2xl">
                            <div class="flex flex-col p-12">
                                <div class="flex items-center justify-start ">
                                    <div class="flex basis-11/12">
                                        <img class="h-8 xl:h-12 py-2 " src="assets/img/Dell_EMC_logo.png" alt="">
                                    </div>
                                    <div class="flex basis-2/12">
                                        <img class="h-8 xl:h-12 m-2 " src="assets/img/Isilon_logo.png" alt="">
                                    </div>
                                </div>
                                <h3 class="xl:hidden text-gray-500 text-lg font-montserrat font-medium">2016 - 2018</h3>
                                <h2 class="text-gray-500 text-2xl font-montserrat font-bold">Senior Technical Support
                                    Engineer
                                </h2>
                                <ul class="text-gray-500 text-1xl list-disc list-outside font-montserrat ">
                                    <li>Level 2 engineer for the EMEA region for the administration
                                        related skills (Upgrades, HTTP, ICAP, SMTP, SNMP, Restful APIs,
                                        InsightIQ) with my secondary skill being Networking</li>
                                    <li>Interacting with In-Market Engineering while handling
                                        escalations and resolving code bugs.</li>
                                    <li>Providing Shell scripts, Python codes to Customers/TSEs for
                                        initial troubleshooting. </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex flex-col xl:flex-row items-center ">
                    <div class="hidden xl:flex basis-1/6 justify-end">
                        <h3 class="text-cyan-500 text-lg font-montserrat font-medium">2021 - present </h3>
                    </div>
                    <div
                        class="hidden xl:flex basis-1 justify-center h-full items-center w-1 mx-12 rounded-b-full bg-white/30">
                        <i class="text-cyan-500 text-2xl fa-regular fa-circle-dot mx-40"></i>
                    </div>

                    <div
                        class="animate-fade-right animate-once animate-delay-700 flex flex-col rounded-2xl backdrop-blur-sm shadow-lg xl:my-12 my-12 xl:w-1/2">
                        <div class="backdrop-blur-sm bg-white rounded-2xl">
                            <div class="flex flex-col p-12">
                                <div class="flex items-center ">
                                    <div class="basis-10/12 flex ">
                                        <img class="h-8 xl:h-12 " src="assets/img/google_logo.png" alt="">
                                    </div>
                                    <div class="flex basis-2/12 justify-end">
                                        <img class="h-6 xl:h-10 m-2 " src="assets/img/google_cloud_logo.png" alt="">
                                    </div>
                                    <div class="flex basis-2/12 justify-end">
                                        <img class="h-6 xl:h-10 m-2 " src="assets/img/chronicle_logo.png" alt="">
                                    </div>
                                </div>
                                <h3 class="xl:hidden text-gray-500 text-lg font-montserrat font-medium">2021 - Current
                                </h3>
                                <h2 class="text-gray-500 text-2xl font-montserrat font-bold">Solutions Engineer (Google
                                    Cloud)
                                </h2>
                                <ul class="text-gray-500 text-1xl list-disc list-outside font-montserrat ">
                                    <li>Level 2 engineer for the EMEA region for the administration
                                        related skills (Upgrades, HTTP, ICAP, SMTP, SNMP, Restful APIs,
                                        InsightIQ) with my secondary skill being Networking</li>
                                    <li>Work escalations from L1 towards resolution and preparing to be
                                        worked by Engineering.</li>
                                    <li>Interacting with In-Market Engineering while handling
                                        escalations and resolving code bugs.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- TODO : Make this programmatic and responsive -->
        <h1
            class="text-gray-300 font-inter xl:text-9xl  text-5xl my-12 xl:px-40 font-bold animate-fade-up animate-delay-100 text-center xl:text-right">
            skills</h1>
        <div class="hidden xl:grid xl:grid-cols-6 gap-4 mx-40">
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4">
                <div class="h-10 w-10">
                    <img src="assets/img/typescript_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">typescript</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/javascript_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Javascript</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/html_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">HTML</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/css_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">CSS</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/angular_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Angular</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/Bash_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Bash</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4">
                <div class="h-10 w-10">
                    <img src="assets/img/python_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Python</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/go_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Go</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/tailwind_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Tailwind</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg col-span-2 p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/google_cloud_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Google Cloud</h1>
            </div>
            <div class="flex flex-row items-center justify-between bg-white space-x-8 rounded-lg p-4 ">
                <div class="h-10 w-10">
                    <img src="assets/img/figma_logo.png" alt="">
                </div>
                <h1 class="text-gray-500 font-inter text-2xl font-bold">Figma</h1>
            </div>
        </div>
    </div>